<div>
  <div class="row">
    <div class="row center-align">
      <div class="row center-align">
        <div class="col s4 l4 m4 center-align">
          <img src="../../app/images/invite.svg" class="center-align">
        </div>
      </div>
      <div class="row center-align">
        <h5>Invite to join!</h5>
        <p>Add more admins to make it easy to handle</p>
      </div>
      <div class="input-field col s12">
        <input id="email" [(ngModel)]="email" type="email" class="validate">
        <label for="email">Email address</label>
      </div>
      <div class="row">
        <button (click)="createUser()" class="btn orange z-depth-0">
          Send Invite
        </button>
      </div>
    </div>
  </div>
</div>


