.row {
  padding: 0;
  margin: 0;
}

.col {

  padding: 0;
  margin: 0;
}

ul {

  padding: 0;
  margin: 0;
}

.fullHeight {
  height: 100vh;
}

.fullWidth {
  width: 100%;
}

.boardpaper {
  background-color: white;
  border-radius: 5px;
}

.headnavitem {
  font-size: 12px;
  padding: 15px;
  color: #afafaf;
  cursor: pointer;
  text-transform: uppercase;
}

.headnavitem:hover {
  color: #38d0d5;
  cursor: pointer;
}

.sideitem {
  font-size: 12px;
  padding: 4px;
  color: #fbf6ff;
  cursor: pointer;
  align-content: center;
}

.sideitem:hover {
  color: #fbf6ff;
  cursor: pointer;
  background-color: #00acc1;
}

.contalign {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.centalign {
  width: 80%;
  height: 190px;
  margin: 10px;
  padding: 5px;
  color: white;
}

.font70percent {
  font-size: 70%;
}

.chipcontainer {
  padding: 20px;
}























