<div>
  <div style="display: block">
    <div *ngFor="let charto of listCharts;let ndx=index;">
      <!--<canvas baseChart-->
      <!--[data]="doughnutChartData"-->
      <!--[labels]="doughnutChartLabels"-->
      <!--[chartType]="doughnutChartType"-->
      <!--(chartHover)="chartHovered($event)"-->
      <!--(chartClick)="chartClicked($event)"></canvas>-->
      <canvas baseChart
              [data]="charto.valuesAssoc"
              [labels]="charto.names"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
