<nav class="white cyan-text">
  <div class="nav-wrapper cyan-text">
    <a href="#" class="brand-logo cyan-text fill_parentheight"><img class="fill_parentheight"
                                                                    src="/app/images/icon.png"/></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="cyan-text" href="sass.html">Our Services</a></li>
      <li><a class="cyan-text" href="sass.html">Our Customers</a></li>
      <li><a class="cyan-text" href="badges.html">Contact Us</a></li>
      <li><a class="cyan-text" href="collapsible.html">Go to Console</a></li>
    </ul>
  </div>
</nav>
<!--<div class="parallax-container">-->
<!--<div class="parallax"><img src="/app/images/background1.jpg"></div>-->
<!--</div>-->
<!--<div class="section white">-->
<!--<div class="row container">-->
<!--<h2 class="header">Parallax</h2>-->
<!--<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this-->
<!--case, is moved at a different speed than the foreground content while scrolling.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="parallax-container">-->
<!--<div class="parallax"><img src="/app/images/background2.jpg"></div>-->
<!--</div>-->

<!--<div class="carousel carousel-slider fullHeight">-->
<!--<a class="carousel-item" href="#one!"><img src="/app/images/background1.jpg"></a>-->
<!--<a class="carousel-item" href="#two!"><img src="/app/images/background2.jpg"></a>-->
<!--<a class="carousel-item" href="#three!"><img src="/app/images/background1.jpg"></a>-->
<!--<a class="carousel-item" href="#four!"><img src="/app/images/background2.jpg"></a>-->
<!--<a class="carousel-item" href="#five!"><img src="/app/images/background1.jpg"></a>-->
<!--</div>-->


<div class="carousel carousel-slider center fullHeight" data-indicators="true">
  <!--<div class="carousel-fixed-item center">-->
  <!--<a class="btn waves-effect white grey-text darken-text-2">button</a>-->
  <!--</div>-->
  <div class="carousel-item white teal-text center-align" href="#one!">
    <h2>Better Analytics</h2>
    <p class="teal-text">Take better decisions with better analytics</p>
  </div>
  <div class="carousel-item white teal-text" href="#two!">
    <h2>Second Panel</h2>
    <p class="teal-text">This is your second panel</p>
  </div>
  <div class="carousel-item white teal-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="teal-text">This is your third panel</p>
  </div>
  <div class="carousel-item white teal-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="teal-text">This is your fourth panel</p>
  </div>
</div>


<div class="fullWidth fullHeight white">

</div>
<div class="fullWidth fullHeight white">

</div>
