<div class="navbar-fixed white">
  <nav class="white cyan-text">
    <div class="nav-wrapper cyan-text">
      <a href="#" class="brand-logo cyan-text fill_parentheight"><img class="fill_parentheight"
                                                                      src="/app/images/icon.png"/></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="cyan-text" href="#introduction">Our Services</a></li>
        <li><a class="cyan-text" href="#structure">Our Customers</a></li>
        <li><a class="cyan-text" href="#initialization">Contact Us</a></li>
        <li><a class="cyan-text" href="">Go to Console</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="backcontainer1">
  <div class="row valign">
    <div class="col s12 l6 m6 valign">
      <h4 class="hundredvh valign  centeredforce cyan-text">Let's make your collected data<br>an impact on your
        business.</h4>
    </div>
    <div class="col s12 l6 m6 hundredvh">
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m9 l10">
    <div id="introduction" class="scrollspy hundredvh ">

    </div>

    <div id="structure" class="scrollspy hundredvh">
      <p>Content </p>
    </div>

    <div id="initialization" class="scrollspy hundredvh">
      <p>Content </p>
    </div>
  </div>

</div>
