.fill_parentheight {
  display: block;
  margin-left: 15px;
  margin-top: 5px;
  height: 85%;
}

.blockback1 {
  background: url("http://localhost:4200/app/images/chart1.png");
}

.blockback2 {
  background: url("http://localhost:4200/app/images/chart2.png");
}

.blockback3 {
  background: url("http://localhost:4200/app/images/chart3.png");
}

.blockback4 {
  background: url("http://localhost:4200/app/images/impact_data.png");
}

.builder1 {
  background: url("http://localhost:4200/app/images/macbookback.png");
}

.collector {
  background: url("http://localhost:4200/app/images/mobile_hand.png");
  background-size: contain;
  z-index: 2;
}

.analyzer {
  background: url("http://localhost:4200/app/images/mobile_hand.png");
  background-size: contain;
}

.backcontainer1 {
  background: url("http://localhost:4200/app/images/background1.jpg");
  background-size: contain;
}

.blockback1, .blockback2, .blockback3, .blockback4, .backcontainer1, .builder1, .collector {
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: 100%;
}

.hundredvh {
  height: 100vh;
}

.backgroundimage {
  background: url("http://localhost:4200/app/images/background1.jpg");
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
}

.centeredforce {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 5%;
}

.contalign-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 10%;
}

.contalign {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.centalign {
  width: 80%;
  height: 190px;
  margin: 10px;
  padding: 5px;
  color: white;
}

.margin-heading {
  padding: 20px;
  margin: 20px;
  text-transform: uppercase;
}

.list-item {
  padding-top: 20px;
  color: grey;
}

.gotoconsole {
  color: #fff;
  background-color: #00acc1;
}

.gotoconsole:hover {
  color: #00acc1;
  background-color: white;
}

.navitemcustom {
  color: #00acc1;
}

.navitemcustom:hover {
  color: #fff;
  background-color: #00acc1;
}
