<div class="row">
  <ul class="collapsible z-depth-0" data-collapsible="accordion">
    <li *ngFor="let qu of q.questionsList; let ndx=index">
      <div class="collapsible-header  z-depth-0">
        <div class="col s9 l9 m9"><i class="material-icons">assignment</i>Q {{ndx+1}} :
          {{qu.question_text}}
        </div>
        <div class="col s3 l3 m3">
          {{qu.question_type.toUpperCase()}} <i class="material-icons right hoverable">mode_edit</i>
        </div>
      </div>
      <div class="collapsible-body  z-depth-0 veryLightgrey">

        <div>
          <questiontext [qindex]="ndx" [question]="qu" [questionArrayList]="q.questionsList"
                        *ngIf="qu.question_type==='text'"></questiontext>
          <questionradio [qindex]="ndx" [question]="qu" [questionArrayList]="q.questionsList"
                         *ngIf="qu.question_type==='radio'"></questionradio>
          <questioncheck [qindex]="ndx" [question]="qu" [questionArrayList]="q.questionsList"
                         *ngIf="qu.question_type==='checkbox'"></questioncheck>
          <questioncaptureimage [qindex]="ndx" [question]="qu" [questionArrayList]="q.questionsList"
                                *ngIf="qu.question_type==='takepicture'"></questioncaptureimage>
          <questionrating [qindex]="ndx" [question]="qu" [questionArrayList]="q.questionsList"
                          *ngIf="qu.question_type==='rating'"></questionrating>
        </div>
      </div>
    </li>
  </ul>
  <div class="card  z-depth-0">
    <div class="card-content">
      <select class="col s4 m4 l4" style="display: block" id="questionType" #selectedType>
        <option value="text">Text</option>
        <option value="checkbox">CheckBox</option>
        <option value="radio">Radio</option>
        <option value="takepicture">Take Picture</option>
        <option value="rating">Rating</option>
      </select>
      <button class="btn right  z-depth-0" (click)="createNewQuestionAndAdd(selectedType.value)">Add Question</button>
      <br>
      <br>
    </div>
  </div>
</div>
