<div class="row">
  <ul class="collapsible" data-collapsible="accordion">
    <li *ngFor="let qu of q.questionsList; let ndx=index">
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{qu.question_text}}</div>
      <div class="collapsible-body">
        <!--dfjklajdf<br>-->
        <!--adjsfkljadfk<br>-->
        <!--ajfdklajfkldja<br>-->
        <!--ajfdkljakfd-->
        <div>
          <questiontext [qindex]="ndx" [question]="qu" [questionArrayList]="q.questionsList"
                        *ngIf="qu.question_type==='text'"></questiontext>
          <questionradio [qindex]="ndx" [question]="qu" [questionArrayList]="q.questionsList"
                         *ngIf="qu.question_type==='radio'"></questionradio>
          <questioncheck [qindex]="ndx" [question]="qu" [questionArrayList]="q.questionsList"
                         *ngIf="qu.question_type==='checkbox'"></questioncheck>
          <questioncaptureimage [qindex]="ndx" [question]="qu" [questionArrayList]="q.questionsList"
                                *ngIf="qu.question_type==='takepicture'"></questioncaptureimage>
          <questionrating [qindex]="ndx" [question]="qu" [questionArrayList]="q.questionsList"
                          *ngIf="qu.question_type==='rating'"></questionrating>
        </div>
      </div>
    </li>
  </ul>
  <div class="card">
    <div class="card-content">
      <select class="col s4 m4 l4" style="display: block" id="questionType" #selectedType>
        <option value="text">Text</option>
        <option value="checkbox">CheckBox</option>
        <option value="radio">Radio</option>
        <option value="takepicture">Take Picture</option>
        <option value="rating">Rating</option>
      </select>
      <button class="btn right" (click)="createNewQuestionAndAdd(selectedType.value)">Add Question</button>
      <br>
      <br>
    </div>
  </div>
</div>
