.row {
  padding: 0;
  margin: 0;
}

.col {

  padding: 0;
  margin: 0;
}

ul {

  padding: 0;
  margin: 0;
}

.fullHeight {
  height: 100vh;
}

.fullWidth {
  width: 100%;
}

.boardpaper {
  background-color: white;
  border-radius: 5px;
}

.headnavitem {
  font-size: 12px;
  padding: 15px;
  color: #afafaf;
  text-transform: uppercase;
}

.headnavitem:hover {
  color: #38d0d5;
  cursor: hand;
}

.headnavitemCustom {
  background-color: #f3f3f3;
  font-size: 12px;
  padding: 15px;
  padding-left: 35px;
  color: #008595;
  text-transform: uppercase;
}

.headnavitemCustom:hover {
  background-color: gainsboro;
  color: white;
  cursor: pointer;
}
















