<div class="row fullHeight">
  <div class="col s3 l3 m3 fullHeight">
    <ul class="collapsible fullHeight" data-collapsible="expandable">
      <li
        style="background: url('http://localhost:4200/app/images/backgroundprofile.png') ; background-size: cover">
        <div style="height: 30vh">
          <h6>{{company.company_name}}</h6>
          <h6>{{company.company_email}}</h6>
          <h6>{{company.company_phone}}</h6>
          <h6>{{company.company_website}}</h6>
        </div>
      </li>

      <li *ngFor="let admino of adminsArray;let ndx=index;">
        <a class="collapsible-header"><i class="material-icons">place</i>{{admino.admin_name}}</a>
        <div class="collapsible-body">
          <a class="btn col s12 l12 m12" *ngFor="let surveyo of admino.surveyListing">
            {{surveyo.survey_name}}
            <!--<div style="height: 4px;background-color: #00acc1"></div>-->
          </a><br>
        </div>

      </li>

    </ul>
  </div>
  <div class="col s9 l9 m9" style="padding: 40px;background-color: #eaeaea">
    <div class="fullHeight z-depth-1 boardpaper">

    </div>
  </div>
</div>
