<div class="row" style="padding: 0;margin: 0">
  <div class="col s3 l3 m3" style="padding: 0;margin: 0">
    <ul class="collapsible" data-collapsible="expandable" style="padding: 0;margin: 0">
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>
          <h6>Sandeep Singh Rana</h6>
          <p>Lorem ipsum dolor sit amet.</p>

        </div>
        <!--<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>-->
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
    </ul>
  </div>
  <div class="col s9 l9 m9">
    <h1>heading with 9 blocks</h1>
  </div>
</div>
