.card-image-custom {
  position: relative;
  size: 100px;
  height: 20%;
}

.displaySelect {
  display: inherit;
}

.padding0 {
  padding: 0px;
}

.margin0 {
  margin: 0px;
}

.paddingmargin0 {
  padding: 0px;
  margin: 0px;
}

.padding10 {
  padding: 10px;
}

.paddingleft {
  margin: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.padding20 {
  padding: 10px;
}

.margin10 {
  margin: 10px;
}

.margin20 {
  margin: 20px;
}

.padding5 {
  padding: 5px;
}

.margin5 {
  margin: 5px;
}

.surveybutton {
  cursor: pointer;
  color: #008595;
}

.surveybutton:hover {
  cursor: hand;
  background-color: #00acc1;
  color: white;
}

.surveybuttonAddCreate {
  cursor: pointer;
  color: #acc3c5;
}

.surveybuttonAddCreate:hover {
  cursor: hand;
  background-color: #008595;
  color: white;
}

.survey-title {
  color: #2ca0b4;
}

.survey-title:hover {
  color: #fbf6ff;
}

.survey-description {
  font-size: small;
  color: inherit;
}

.row0.row {
  padding: 0px;
  margin: 0px;
}

.col0.col {
  padding: 0px;
  margin: 0px;
}

.bold {
  font-weight: bold;
}

.row {
  padding: 0;
  margin: 0;
}

.col {

  padding: 0;
  margin: 0;
}

ul {

  padding: 0;
  margin: 0;
}

.fullHeight {
  height: 100vh;
}

.fullWidth {
  width: 100%;
}

.boardpaper {
  background-color: white;
  border-radius: 5px;
}

.headnavitem {
  font-size: 12px;
  padding: 15px;
  color: #afafaf;
  cursor: pointer;
  text-transform: uppercase;
}

.headnavitem:hover {
  color: #38d0d5;
  cursor: pointer;
}

.veryLightgrey {
  background-color: #f8f8f8;
}

.hoverableLove {
  color: white;
  background-color: #008595;
  cursor: pointer;
}

.hoverableLove:hover {
  color: white;
  background-color: #2ca0b4;
  cursor: pointer;
}

.chipedit {
  color: #2ca0b4;
  background-color: white;
}

#map {
  height: 100%;
}
