<!--<h1>Angular Router</h1>-->
<!--<nav>-->
<!--<div class="nav-wrapper">-->
<!--<a href="#!" class="brand-logo">Surveyam</a>-->
<!--<ul class="right hide-on-med-and-down">-->
<!--<li><a id="login" routerLink="/login" routerLinkActive="active"><i class="material-icons left">assignment_ind</i>Login</a>-->
<!--<li><a id="builder" routerLink="/builder" routerLinkActive="active"><i class="material-icons left">mode_edit</i>Survey-->
<!--Builder</a>-->
<!--</li>-->
<!--<li><a id="manager" routerLink="/manager" routerLinkActive="active"><i class="material-icons left">dashboard</i>Mangaer</a>-->
<!--</li>-->
<!--<li><a id="companyId" routerLink="/company" routerLinkActive="active"><i class="material-icons left">tab</i>Company</a>-->
<!--</li>-->
<!--<li><a id="logout" (click)="logout()"><i class="material-icons left">lock_open</i>Logout</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<router-outlet></router-outlet>

