<div>
  <div class="row">
    <div class="col s12 l12 m12">
      <!--<questioncaptureimage [question]="question"></questioncaptureimage>-->
      <!--<questionrating [question]="question"></questionrating>-->
      <!--<questioncaptureimage [question]="questioncheck"></questioncaptureimage>-->
      <!--<questiontext [question]="question"></questiontext>-->
      <!--<questioncheck [question]="question"></questioncheck>-->
      <!--<questionradio [question]="question"></questionradio>-->

      <!-- Dropdown Trigger -->
      <!--<dropdown itemscope="dslf">some</dropdown>-->
      <!--<questionslist [questionsArray]="questionsArray"></questionslist>-->
      <surveycontainer [surveys]="surveysArray" [adminId]="adminId"></surveycontainer>


    </div>
  </div>

</div>
